<div class="page__footer-follow">
    <ul class="social-icons">
      {% if site.data.ui-text[site.locale].follow_label %}
        <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
      {% endif %}
  
      {% if site.footer.links %}
        {% for link in site.footer.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
  <div><a href="https://twitter.com/coachjim4um/status/555691876012281856?lang=en">Attacking this day with Enthusiasm Unknown to Mankind.</a></div>
  <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>
  